

/* CAROUSEL STLYE */
.carousel-section{
    margin-top: 25px;
    width: 100%;
    height: 80vh;
}

.carousel-container{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slider-wrapper{
    display: flex;
    width: 400%;
    height: 100%;
    margin-left: -100%;
}

.slider-section{
    width: 100%;  
}

.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: none;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    font-weight: bold;
    color: var(--lightgray);
    cursor: pointer;
    user-select: none;
}

.slider-btn-left{
    left: 10px;
}

.slider-btn-right{
    right: 0px;
}


/* MAIN SECTION STYLE*/
.tsellers-container{
    padding: 5rem;
}

.tsellers-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 38px;
}

.clothing-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.clothing-box{
    height: 550px;
    width: 350px;
}

.clothing-img{
    height: 75%;
    width: 100%;
    overflow: hidden;
}

.clothing-img img{
    width: 100%;
    height: 100%;
}

.clothing-box-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 25%;
}

.clothing-box-title h2{
    font-size: 26px;
    letter-spacing: .15rem;
    font-weight: 800;
}

.clothing-box-title button{
    background: none;
    border: 2.1px solid black;
    padding: 1rem;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .1rem;
    width: 150px;
    transition: .5s;
    cursor: pointer;
}

.clothing-box-title button:hover{
    background-color: black;
    color: white;
}




