/* CAROUSEL STLYE */
.carousel-section{
    height: 400px;
    border-bottom: 2px solid black;
}

/* MAIN SECTION STYLE*/
.tsellers-container{
    padding: 5rem;

}

.tsellers-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 38px;
}

.clothing-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.clothing-box{
    height: 500px;
    width: 400px;
}

.clothing-img{
    height: 70%;
    width: 100%;
    border: 2px solid black;
}

.clothing-box-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    height: 30%;
}

.clothing-box-title h2{
    font-size: 28px;
    letter-spacing: .15rem;
}

.clothing-box-title button{
    background: none;
    border: 1px solid black;
    padding: 1rem;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .1rem;
    width: 200px;
    transition: .5s;
    cursor: pointer;
}

.clothing-box-title button:hover{
    background-color: black;
    color: white;
}

/* ICONS STYLES */
.icons-container{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--gray);
    padding: 1rem;
}

.social-wrapper{
    display: flex;
    align-items: center;
    gap: 34px;
    padding: 0 4rem;
    border-right: 1px solid var(--gray);
}

.social-wrapper button,
.payments-wrapper button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.payments-wrapper button{
    border-radius: 0 !important;
    height: 20px;
}

.social-wrapper button:nth-child(1){
    background-color: #3C5A99;
}

.social-wrapper button:nth-child(2){
    background-color: #8433B7;
}

.social-wrapper button:nth-child(3){
    background-color: #6099C5;
}


.social-wrapper button i{
    font-size: 14px;
    color: white;
}

.payments-wrapper{
    display: flex;
    align-items: center;
    gap: 34px;
    padding: 0 4rem;
}

.payments-wrapper button i{
    font-size: 20px
}




