:root{
    --open: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSI0NCIgdmlld0JveD0iMCAwIDQ0IDQ0Ij4gICAgPGcgZmlsbD0iIzJEMkQyRCIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxwYXRoIGQ9Ik0xMyAyMWgxOHYySDEzeiIvPiAgICAgICAgPHBhdGggZD0iTTIzIDEzdjE4aC0yVjEzeiIvPiAgICA8L2c+PC9zdmc+);
    --close: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI0NHB4IiBoZWlnaHQ9IjQ0cHgiIHZpZXdCb3g9IjAgMCA0NCA0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5EQzYxRTU5NS0yMjFBLTQwQUItQTg3OC1GODE2NjVCOTFBODk8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggc2tldGNodG9vbC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlN5bWJvbHMiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9Imljb24vZ2VuZXJhbC9taW51cyIgZmlsbD0iIzJEMkQyRCI+ICAgICAgICAgICAgPHJlY3QgaWQ9IlBhdGgiIHg9IjEzIiB5PSIyMSIgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiPjwvcmVjdD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==)
}


.tyc-main-section{
    margin-top: 60px;
}

.tyc-container{
    width: 750px;
    margin: 20px auto;
}

.tyc-container h1{
    text-align: left;
    font-size: 60px;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 24px;
}

.tyc-list{
    margin: 10px 0;
    width: 100%;
    padding: 0;
}

.tyc-list dt{
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    display: block;
}

.tyc-title{
    width: 100%;
    background: #fff;
    border: none;
    text-align: left;
    height: 60px;
    padding: 0px;
    margin: 2px 0px;
    background: var(--open) no-repeat -6px -9px;
    background-position: right;
    background-position: calc(100% + 13px);
    font: inherit;
    cursor: pointer;
}

.tyc-title.active{
    background: var(--close) no-repeat -6px -9px;
    position: relative;
    background-position: calc(100% + 13px);
}

.tyc-list dd{
    height: 0px;
    color: #2d2d2d;
    margin-bottom: 0px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.tyc-list dd.active{
    height: 0px;
}