.inprogress-orders{
    padding: .5rem;
    border: 1px solid black;
    height: 70px;
    margin-bottom: 30px;
}

.finished-orders{
    border: 1px solid black;
    padding: .5rem;
    height: auto
}

.finished-order-box{
    background-color: var(--gray);
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .7rem;
}

.finished-order-box span{
    background-color: black;
    width: 50px;
    height: 40px;
    border-radius: 30%;
}