.option-info{
    display: flex !important;
    flex-direction: column;
    gap: 24px;
}

.option-title{
    display: flex;
    align-items: center;
    background-color: white;
    height: 60px;
    position: relative;
}

.option-title h1{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.option-title a{
    font-size: 17px;
    cursor: pointer;
    z-index: 2;
}

.option-title a:first-child{
    padding-left: 1rem;
}

.option-body{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 2rem;
}

.card-general{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 1.25rem;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid var(--black)
}

.card-general h2{
    font-weight: bold;
}

.card-general button{
    text-align: left;
    all: unset;
    cursor: pointer;
}

.card-general button:hover{
    color: blue;
    text-decoration: underline;
}

.option-body p:first-child{
    text-align: center;
}

.option-body i{
    font-size: 80px;
    cursor: pointer;
    transition: .5s;
}

.option-body i:hover{
    color: var(--black)
}

.options-wrapper{
    display: none !important;
}

.option-title .fa-circle-question{
    display: none;
}

.table-container{
    height: 470px;
}

.table-pedidos tbody tr,
.table-accion tbody tr{
    cursor: pointer;
}

.table-pedidos tr.active{
    background-color: var(--black);
    color: white;
}

.table-accion tr.active{
    background-color: var(--black);
    color: white;
}


.table{
    user-select: none;
}

@media (min-width: 1024px){
    .option-title a{
        display: none;
    }

    .options-wrapper{
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
    }

    .option-info{
        background-color: transparent !important;
        padding: 0 !important;
    }

    .card-general{
        width: 85%;
    }

    .option-title {
        height: 190px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 2rem;
    }

    .option-title h1{
        position: unset;
        text-align: unset;
        font-size: 34px;
    }

    .option-title .fa-circle-question{
        display: block;
        font-size: 38px;
        margin-bottom: 14px;
    }

    .option-body{
        height: 100%;
        padding: 2rem 5rem;
    }

    .ayuda{
        background-color: #F8F8F8 !important;
        border-left: 4px solid #0770CF;
    }

    .ayuda p{
        font-weight: bold !important;
    }

}