.option-info{
    display: flex !important;
    flex-direction: column;
    gap: 24px;
}

.option-title{
    display: flex;
    align-items: center;
    background-color: white;
    height: 60px;
    position: relative;
}

.option-title h1{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 0 !important;
    max-width: 100%;
}

.option-title a{
    font-size: 17px;
    cursor: pointer;
    z-index: 2;
}

.option-title a:first-child{
    padding-left: 1rem;
}

.option-body{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 2rem;
}


.giftcard-wrapper{
    width: 90%;
    height: 200px;
    cursor: pointer;
}

.giftcard-wrapper.active .front{
    transform: perspective(600px) rotateY(180deg);
}

.giftcard-wrapper.active .back{
    transform: perspective(600px) rotateY(360deg);
}

.front{
    border-radius: 40px;
    background-color: #549F9B;
    transform: perspective(600px) rotateY(0deg);
    color: white;
    backface-visibility: hidden;
    overflow: hidden;
    transition: ease-in-out .5s;
}

.front h1{
    font-size: 44px;
    max-width: 50%;
    font-weight: bold;
}

.front i{
    font-size: 100px;
}

.back{
    border-radius: 40px;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: hidden;
    color: white;
    background-color: #549F9B;
    transition: ease-in-out .5s;
}

.back p:first-child{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}


.back p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.copy-gf{
    width: 150px;
    align-self: center;
}

.get-gf-p{
    font-size: 16px;
}

.get-gf-p a{
    text-decoration: underline !important;
}

.options-wrapper{
    display: none !important;
}

.option-title .fa-gift{
    display: none;
}


@media (min-width: 1024px){
    .option-title a{
        display: none;
    }

    .option-title h1{
        font-size: 24px;
    }

    .options-wrapper{
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
    }

    .option-info{
        background-color: transparent !important;
        padding: 0 !important;
    }

    .card-general{
        width: 85%;
    }

    .option-title {
        height: 190px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 2rem;
    }

    .option-title h1{
        position: unset;
        text-align: unset;
        font-size: 34px;
    }

    .option-title .fa-gift{
        display: block;
        font-size: 38px;
        margin-bottom: 14px;
    }

    .option-body{
        height: 100%;
        padding: 2rem 5rem;
    }

    .giftcards{
        background-color: #F8F8F8 !important;
        border-left: 4px solid #0770CF;
    }

    .giftcards p{
        font-weight: bold !important;
    }

}