.option-info{
    display: flex !important;
    flex-direction: column;
    gap: 24px;
}
.option-title{
    display: flex;
    align-items: center;
    background-color: white;
    height: 60px;
    position: relative;
}

.option-title h1{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.option-title a{
    font-size: 17px;
    cursor: pointer;
    z-index: 2;
}

.option-title a:first-child{
    padding-left: 1rem;
}

.option-body{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 1rem 2rem 2rem
}

.option-body form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 20px;
}

.input-field{
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.form-submit{
    margin-top: 24px;
    height: 40px;
    background-color: var(--black);
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;
}

.form-submit:hover{
    background-color: white;
    color: var(--black);
}

.options-wrapper{
    display: none !important;
}

.option-title .fa-house-user{
    display: none;
}

@media (min-width: 1024px){



    .option-title a{
        display: none;
    }

    .options-wrapper{
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
    }

    .option-info{
        background-color: transparent !important;
        padding: 0 !important;
    }

    .option-title {
        height: 190px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 2rem;
    }

    .option-title h1{
        position: unset;
        text-align: unset;
        font-size: 34px;
    }

    .option-title .fa-house-user{
        display: block;
        font-size: 38px;
        margin-bottom: 14px;
    }

    .option-body{
        height: 100%;
        padding: 2rem 5rem;
    }

    .direccion{
        background-color: #F8F8F8 !important;
        border-left: 4px solid #0770CF;
    }

    .direccion p{
        font-weight: bold !important;
    }

}